[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alabaster = "*"
babel = "*"
certifi = "*"
chardet = "*"
colorama = "*"
cycler = "*"
decorator = "*"
docutils = "*"
idna = "*"
imageio = "*"
imagesize = "*"
jinja2 = "*"
libtiff = "*"
markupsafe = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
numpydoc = "*"
opencv-python = "*"
packaging = "*"
pandas = "*"
pillow = "*"
pygments = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pywavelets = "*"
requests = "*"
scikit-image = "*"
scipy = "*"
simpleitk = "*"
six = "*"
snowballstemmer = "*"
sphinx = "*"
sphinxcontrib-websupport = "*"
urllib3 = "*"
xlrd = "*"
xlsxwriter = "*"

[requires]
python_version = "3.7"
